* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: montserrat;
    background: #FAF8F8;
    min-height: 2000px;
    overflow-x: hidden;
}

.menuBar {
    position: sticky;
    top: 0;
    z-index: 101;
}

.top_nav {
    top: 0;
    z-index: 101;
    background: #02233C;
    height: 30px;
    width: 100%;

}

.top_nav ul {
    text-align: right;
}

.top_nav ul li {
    display: inline;
    margin-top: 5px;
}

.top_nav ul li a {
    color: white;
    font-size: 15px;
    padding: 8px 5px;
    border-radius: 3px;
    text-transform: uppercase;
    width: auto;
}

.nav1 {
    position: relative;
    z-index: 101;
    top: -2px;
    background: #03456D;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

.nav1 img {
    width: 150px;
    height: 50px;
    margin: 0px 5px;
    margin-left: 20px;
}

.nav1 ul {

    margin: 0px;
}

.nav1 ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 2px;
}

.nav1 ul li a {
    display: contents;
    color: white;
    font-size: 14px;
    padding: 7px 5px;
    border-radius: 3px;
    text-transform: uppercase;
    height: 100%;
}

.nav1 a.active,
.nav1 a:hover {
    background: #1b9bff;
    transition: .5s;
    text-decoration: none;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 40px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
    float: left;
}

#check {
    display: none;
}

@media (max-width: 858px) {
    .nav1 img {
        width: 150px;
        height: 50px;
        margin: 0px 5px;
        margin-left: 35%;
    }

    .checkbtn {
        display: block;
    }

    .nav1 ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 110px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    .nav1 ul li {
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }

    .nav1 ul li a {
        font-size: 20px;
    }

    .nav1 a:hover,
    .nav1 a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        right: 0;
    }

    #np :nth-child(1) {
        line-height: 230%;
        font-size: 100%;
    }
}

#agent{
    margin: 20px 20px 0px 20px;
    border: 1px solid #D4CCCA;
    box-shadow: 4px 6px #D4CCCA;
    background-color: white;
}

.dashboard-menu li{
    padding: 10px 40px 10px 40px;
    font: 20px;
    border-top: 1px solid #D4CCCA;
    
}
.dashboard-menu li a{
    color: dimgray;
}
.dashboard-menu li a:hover{
    color:darkturquoise;
    text-decoration:none;
    cursor: pointer;
}
.dashboard-menu li a span{
    margin-left: 10px;
}
.dashboard-menu .active a{
    color:darkturquoise;
}
h8{
    color:dimgrey;
}
.dashboard-menu li .unread-msg{
    float: right;
    background-color: brown;
    color: white;
    padding: 5px;
}
.profile-info-widget{
    margin: 20px;
    border: 1px solid #D4CCCA;
    background: white;
}
.profile-info-widget img{
    width: 150px;
    padding: 15px;
}
.profile-info-widget h5{
    padding-top: 10px;
}
.appointment-action a{
    float: right;
    margin-right: 80px;
    margin-top: 60px;
    font-size: 17px;
    border: 1px solid #4CD0F1;
    color: #4CD0F1;
    border-radius: 5px;
}
.appointment-action a:hover{
    background: #4CD0F1;
    color: black;
}
.tagC a{
    border: 1px solid #5F5B93;
    color: #5F5B93;
    border-radius: 5px;
}
.tagC a:hover{
    background: #5F5B93;
    color: black;
}