* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: montserrat;
    background: #E5E3E6;
    min-height: 2000px;
    overflow: hidden;
}

.menuBar {
    position: sticky;
    top: 0;
    z-index: 101;
}

.top_nav {
    top: 0;
    z-index: 101;
    background: #02233C;
    height: 30px;
    width: 100%;

}

.top_nav ul {
    text-align: right;
}

.top_nav ul li {
    display: inline;
    margin-top: 5px;
}

.top_nav ul li a {
    color: white;
    font-size: 15px;
    padding: 8px 5px;
    border-radius: 3px;
    text-transform: uppercase;
    width: auto;
}

.nav1 {
    position: relative;
    z-index: 101;
    top: -2px;
    background: #03456D;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

.nav1 img {
    width: 150px;
    height: 50px;
    margin: 0px 5px;
    margin-left: 20px;
}

.nav1 ul {

    margin: 0px;
}

.nav1 ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 2px;
}

.nav1 ul li a {
    display: contents;
    color: white;
    font-size: 14px;
    padding: 7px 5px;
    border-radius: 3px;
    text-transform: uppercase;
    height: 100%;
}

.nav1 a.active,
.nav1 a:hover {
    background: #1b9bff;
    transition: .5s;
    text-decoration: none;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 40px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
    float: left;
}

#check {
    display: none;
}

@media (max-width: 858px) {
    .nav1 img {
        width: 150px;
        height: 50px;
        margin: 0px 5px;
        margin-left: 35%;
    }

    .checkbtn {
        display: block;
    }

    .nav1 ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 110px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    .nav1 ul li {
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }

    .nav1 ul li a {
        font-size: 20px;
    }

    .nav1 a:hover,
    .nav1 a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        right: 0;
    }

    #np :nth-child(1) {
        line-height: 230%;
        font-size: 100%;
    }
}

@media (max-width: 780px) {
    #np :nth-child(1) {
        line-height: 100%;
        font-size: 100%;
    }
}

#profile {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 2em;
    height: 400px;
    background-color: RGB(81,35,122, 0.6);
    margin-left: 25%;
    margin-top: 2%;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#profile img {
    border-radius: 100%;
    width: 130px;
    height: 120px;
}
#profileName{
    text-align: center;
    font-size: 26px;
    margin-top: 40px;
}
#profilePosition{
    margin-left: 36%;
    font-size: 20px;
}
#profileEmail, #profilePassword, #profilePhone{
    text-align: right;
}
.alert{
  background: #ffdb9b;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid #63C328;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
    z-index: 103;
}
.alert.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.alert.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alert .fa-check-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #3E8115;
  font-size: 30px;
}
.alert .msg{
  padding: 0 20px;
  font-size: 18px;
  color: #3E8115;
}
.alert .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #63C328;
  padding: 20px 18px;
  cursor: pointer;
}
.alert .close-btn:hover{
  background: #63C328;
}
.alert .close-btn .fas{
  color: #3E8115;
  font-size: 22px;
  line-height: 40px;
}