.menuBar {
    position: sticky;
    top: 0;
    z-index: 101;
}

.menuBar .top_nav {
    background: #02233C;
    height: 40px;
    width: 100%;
}

.menuBar .top_nav ul {
    float: right;
    margin-right: 5px;

}

.menuBar .top_nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;

}

.menuBar .top_nav ul li a {
    color: white;
    font-size: 15px;
    padding: 8px 5px;
    border-radius: 3px;
    text-transform: uppercase;
    width: auto;
    
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #02233C 51%, #03344D 49%) right;
    background-size: 200%;
    transition: .5s ease-out;

}

.menuBar .top_nav ul li a:hover {
    background-position: left;
    text-decoration: none;
}


.menuBar .top_nav ul .dropdown a{
    display: inline-block;
    line-height: 32px;
    margin: 0 5px;
    padding: 0px 0px;

}

.menuBar .top_nav ul .dropdown .dropdown-menu a{
	background: #fff;
    color: black;
    font-size: 15px;
    padding: 0px 10px;
}


.menuBar .nav1 {
    background: #03456D;
    height: 70px;
    width: 100%;
}

.menuBar label.logo {
    color: white;
    font-size: 35px;
    line-height: 60px;
    padding: 0 20px;
    font-weight: bold;
    float: left;
}

.menuBar .nav1 ul {
    float: left;
    margin-left: 10px;
    margin-bottom: 0px;

}

.menuBar .nav1 ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;

}

.menuBar .nav1 ul li a {
    color: white;
    font-size: 15px;
    padding: 8px 5px;
    border-radius: 3px;
    text-transform: uppercase;
    width: auto;
    
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #03456D 51%, #1b9bff 59%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.menuBar .nav1 ul li a.active,
.menuBar .nav1 ul li a:hover {
    background: #1b9bff;
    transition: .5s;
    text-decoration: none;
    background-position: left;
}

.menuBar .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 70px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
    float: left;
}

#check {
    display: none;
}

@media (max-width: 1095px) {
    .menuBar label.logo {
        font-size: 30px;
        padding-left: 20px;

    }

    .menuBar .nav1 ul li a {
        font-size: 4px;
        padding: 8px 4px;
    }

    .menuBar .nav1 ul li {
        display: inline-block;
        line-height: 70px;
        margin: 0 5px;

    }
}

@media (max-width: 995px) {
    .menuBar label.logo {
        font-size: 30px;
        padding-left: 20px;

    }

    .menuBar .nav1 ul li a {
        font-size: 4px;
        padding: 8px 4px;
    }

    .menuBar .nav1 ul li {
        display: inline-block;
        line-height: 35px;
        margin: 0 5px;
    }
}

@media (max-width: 858px) {
    .menuBar label.logo {
        color: white;
        font-size: 20px;
        line-height: 20px;
        padding: 0 20px;
        font-weight: bold;
        float: left;
        margin-left: 25%;
        width: 35%;
    }

    .menuBar .nav1 .checkbtn {
        display: block;
        color: white;
    }

    .menuBar .nav1 ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 110px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    .menuBar .nav1 ul li {
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }

    .menuBar .nav1 ul li a {
        font-size: 20px;
    }

    .menuBar .nav1 ul li a:hover,
    .menuBar .nav1 ul li a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        right: 0;
    }
}

@media (max-width: 721px) {
    .menuBar label.logo {
        line-height: 20px;
        width: 25%;
    }
}

@media (max-width: 581px) {
    .menuBar label.logo {
        line-height: 20px;
        width: 10%;
    }
}