* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    background: #B0DBFD;
    min-height: 2000px;
    position: relative;
}

.menuBar {
    position: sticky;
    top: 0;
    z-index: 101;
}

.menuBar .top_nav {
    background: #02233C;
    height: 40px;
    width: 100%;
}

.menuBar .top_nav ul {
    float: right;
    margin-right: 5px;

}

.menuBar .top_nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;

}

.menuBar .top_nav ul li a {
    color: white;
    font-size: 15px;
    padding: 8px 5px;
    border-radius: 3px;
    text-transform: uppercase;
    width: auto;

}

.menuBar .top_nav ul .dropdown a {
    display: inline-block;
    line-height: 32px;
    margin: 0 5px;
    padding: 0px 0px;

}

.menuBar .top_nav ul .dropdown .dropdown-menu a {
    color: black;
    font-size: 15px;
    padding: 0px 10px;
}


.menuBar .nav1 {
    background: #03456D;
    height: 70px;
    width: 100%;
}

.menuBar label.logo {
    color: white;
    font-size: 35px;
    line-height: 60px;
    padding: 0 20px;
    font-weight: bold;
    float: left;
}

.menuBar .nav1 ul {
    float: left;
    margin-left: 20px;

}

.menuBar .nav1 ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 2px;

}

.menuBar .nav1 ul li a {
    color: white;
    font-size: 15px;
    padding: 8px 5px;
    border-radius: 3px;
    text-transform: uppercase;
    width: auto;
}

.menuBar a.active,
.menuBar a:hover {
    background: #1b9bff;
    transition: .5s;
    text-decoration: none;
}

.menuBar .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 70px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
    float: left;
}

#check {
    display: none;
}

@media (max-width: 1104px) {
    .menuBar label.logo {
        font-size: 30px;
        padding-left: 20px;
        line-height: 60px;
        width: 20%;
    }

    .menuBar .nav1 ul li a {
        font-size: 4px;
        padding: 8px 2px;
    }
}

@media (max-width: 980px) {
    .menuBar label.logo {
        font-size: 30px;
        padding-left: 20px;
        line-height: 60px;
        width: 20%;
    }

    .menuBar .nav1 ul li a {
        font-size: 4px;
        padding: 8px 2px;
    }

    .menuBar .nav1 ul li {
        line-height: 60px;
    }
}

@media (max-width: 920px) {
    .menuBar label.logo {
        font-size: 3px;
        padding-left: 20px;
        line-height: 70px;
        width: 20%;
    }

    .menuBar .nav1 ul li a {
        font-size: 4px;
        padding: 8px 2px;
    }

    .menuBar .nav1 ul li {
        line-height: 60px;
    }
}

@media (max-width: 858px) {
    .menuBar label.logo {
        color: white;
        font-size: 30px;
        line-height: 70px;
        padding: 0 20px;
        font-weight: bold;
        float: left;
        margin-left: 25%;
    }

    .menuBar .checkbtn {
        display: block;
    }

    .menuBar .nav1 ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 110px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    .menuBar .nav1 ul li {
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }

    .menuBar .nav1 ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        right: 0;
    }
}

/* open */
.opening {
    position: absolute;
    top: 110px;
    width: 100%;
    height: 120vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opening2 {
    position: absolute;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opening:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #B0DBFD, transparent);
    z-index: 100;
}

.opening:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #B0DBFD;
    z-index: 100;
    mix-blend-mode: color;
}

.opening img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#companyName {
    position: relative;
    color: #fff;
    font-size: 5em;
    z-index: 98;
}

#companyName2 {
    position: relative;
    font-size: 5em;
    z-index: 98;
}

#sea {
    z-index: 99;
}

#background1 {
    z-index: 97;
}

/* search */
.searchBox {
    position: relative;
    top: 400px;
    width: 100%;
    height: 120vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchTab {
    position: relative;
    line-height: 10px;
    border-radius: 7px 7px 0px 0px;

}

#searchTab li a {
    padding: 10px 60px;
}

#searchTab li a:hover,
#searchTab li a:active {
    background-color: rgb(251, 10, 0);

}

.searchEngine {
    position: absolute;
    top: 408px;
    background-color: rgb(251, 10, 0, 0.6);
    padding: 15px 290px 70px 77px;
}

.searchEngine .form-group {
    position: relative;
    display: inline-flex;
    align-items: baseline;
    width: 260%;
}

/*====================================================
intro section style
====================================================*/
.section-intro {
    background: url("../images/imgLogin_m.jpg") center center no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    width: 100%;
    margin-top: 900px;
}

.section-intro:before {
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(42, 46, 50, 0.8);
    position: absolute;
}

.search-container {
    padding: 60px 0 60px;
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
}

.search-container .intro-sub-heading {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 0.1rem;
}

.search-container h2 {
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    line-height: 60px;
    margin-bottom: 40px;
}

.search-container .content {
    background: #fff;
    padding: 30px;
    border-radius: 6px;
}

.search-container .form-group {
    margin-bottom: 30px !important;
}

.search-container .form-group input {
    height: 48px;
}

.search-container .search-category-container select {
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    height: 48px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.search-container .search-category-container input {
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    height: 48px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.search-container .search-category-container select:focus {
    outline: none;
    box-shadow: none;
}

.search-container .search-category-container .styled-select {
    width: 100%;
    margin-bottom: 30px;
}

.search-container .btn-section .btn-common {
    width: 100%;
}

.irs-with-grid {
    margin-top: -7px;
}

select.classic {
    background-image: linear-gradient(45deg, transparent 50%, #272727 50%), linear-gradient(135deg, #272727 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(15px + 5px), calc(100% - 15px) calc(15px + 5px), 100% 0;
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    width: 200px
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.bg-search {
    background: #fafafa !important;
}

.about .img-thumb {
    border-radius: 6px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.about .img-thumb:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background-color: #222;
    opacity: 0.3;
    z-index: 99;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.about .img-thumb img {
    width: 100%;
    border-radius: 6px;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
}

.about .img-thumb:hover:before {
    background-color: #4064d7;
    opacity: 0.7;
}

.about .img-thumb:hover img {
    transform: scale(1.06);
}

.about .about-conter h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.about .about-conter p {
    margin-bottom: 10px;
}

/* ==========================================================================
   Property Section
   ========================================================================== */
.property {
    background: #fafafa;
}

.property-main {
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
}

.property-main:hover {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.14);
}

.property-wrap {
    background: #fff;
    width: 100%;
    border-radius: 4px;
}

.item-thumb {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.item-thumb a {
    display: block;
}

.item-thumb a img {
    border-radius: 4px 4px 0px 0px;
}

.item-thumb:hover {
    opacity: 0.9;
}

.label-inner {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 3;
}

.label-inner .label {
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    border-radius: 30px;
    padding: 7px 18px;
    text-transform: uppercase;
    margin-bottom: 0px;
    line-height: 15px;
    vertical-align: top;
}

.label-inner .label-status {
    background: #4064d7;
}

.item-body {
    padding: 20px;
    width: 100%;
}

.item-body .property-title {
    margin-bottom: 10px;
}

.item-body .property-title a {
    font-size: 18px;
    color: #272727;
    font-weight: 500;
}

.item-body .property-title a:hover {
    color: #4064d7;
}

.item-body .adderess {
    color: #999;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}

.item-body .pricin-list {
    margin-top: 20px;
    position: relative;
}

.item-body .pricin-list .property-price {
    font-size: 26px;
    font-weight: 700;
    color: #4064d7;
    margin-bottom: 15px;
}

.item-body .pricin-list p span {
    color: #000;
    font-weight: 500;
    font-size: 14px;
}

.item-body .pricin-list .view-iocn {
    position: absolute;
    bottom: 0px;
    right: 15px;
}

/* latest-property */
#latest-property .item {
    margin: 0px 10px;
}

.img-box {
    height: 350px;
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 90;
    margin: 10px 0;
    border-radius: 3px;
}

.img-box .img-box-content {
    position: absolute;
    z-index: 101;
    top: 50%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    transform: translate(0, -50.5%);
}

.img-box .img-box-content h4 {
    font-size: 22px;
    line-height: 36px;
    color: #fff;
    margin: 0;
}

.img-box .img-box-content span {
    font-size: 16px;
    color: #fff;
}

.img-box .img-box-background {
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
    transition: all 0.55s;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    transition: transform 0.35s ease-out;
}

.img-box:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background-color: #222;
    opacity: 0.3;
    z-index: 99;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
}

.img-box:hover:before {
    background-color: #4064d7;
    opacity: 0.7;
}

.img-box:hover .img-box-background {
    transform: scale(1.06);
}

.card-hight {
    height: 161px;
}

.bg-red {
    background: #f50057 !important;
}

.bg-yellow {
    background: #FFC107 !important;
}

.product-filter {
    height: 40px;
    margin-bottom: 20px;
    line-height: 40px;
}

.product-filter .sort-by {
    position: relative;
}

.product-filter .sort-by span {
    margin-right: 15px;
    float: left;
}

.product-filter .sort-by .sort-by-select {
    display: inline-block;
    float: left;
    margin-right: 15px;
    position: relative;
}

.product-filter .sort-by .sort-by-select select {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 40px 0px 15px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    color: #888;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 500;
    border-radius: 30px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.product-filter .sort-by .sort-by-select select:focus {
    box-shadow: none;
    outline: none;
}

.product-filter .sort-by .sort-by-select i {
    position: absolute;
    top: 13px;
    right: 15px;
    color: #272727;
    z-index: 999;
}

.product-filter .layout-switcher {
    float: right;
    margin-left: 30px;
}

.product-filter .layout-switcher a {
    width: 36px;
    height: 36px;
    background-color: #f0f0f0;
    display: inline-block;
    border-radius: 3px;
    color: #a0a0a0;
    font-size: 20px;
    line-height: 38px;
    margin-left: 5px;
    text-align: center;
    transition: all 0.3s;
}

.product-filter .layout-switcher .active {
    background-color: #4064d7;
    color: #fff;
}

.listing-container {
    position: relative;
    z-index: 9;
}

.grid-layout {
    left: -1.5%;
    width: 103%;
    position: relative;
}

.grid-layout .property-main {
    display: inline-block;
    width: 47%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    position: relative;
}

.list-layout .property-main {
    display: flex;
    overflow: hidden;
    margin: 0 0 30px 0;
}

.list-layout .property-main {
    width: 100%;
}

.list-layout .property-main .item-thumb {
    width: 320px;
    float: left;
    overflow: hidden;
    margin-right: 30px;
}

.list-layout .property-main .item-body {
    padding: 30px;
}

.sidebar-title {
    font-size: 18px;
    font-weight: 500;
    color: #272727;
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-transform: uppercase;
    position: relative;
}

.sidebar.right {
    padding-left: 20px;
    margin-top: 12px;
}

.sticky .widget {
    position: relative;
}

.sticky .widget select {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 18px;
    height: 48px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    background-color: #fcfcfc;
    color: #888;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 500;
    border-radius: 30px;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.sticky .widget select:focus {
    box-shadow: none;
    outline: none;
}

.sticky .widget i {
    position: absolute;
    top: 17px;
    right: 30px;
    color: #272727;
    z-index: 999;
}

.range-area,
.price-range {
    margin-top: 20px;
}

.range-area label,
.price-range label {
    margin-bottom: 10px;
}

#area-range .form-control {
    width: 30%;
    float: left;
}

#area-range span {
    float: left;
    line-height: 40px;
    margin: 0px 10px;
}

.more-search-options {
    margin-top: 30px;
}

.fullwidth {
    width: 100%;
}

/* Custom Checkboxes */
.checkboxes {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.checkboxes li {
    padding: 4px 0;
}

.checkboxes .in-row label {
    margin-top: 9px;
}

.checkboxes .one-in-row label {
    margin-top: 9px;
    width: 100%;
}

.checkboxes label {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    position: relative;
    padding-left: 28px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 15px;
}

.checkboxes label span {
    color: #909090;
    font-size: 15px;
}

.checkboxes label:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    margin-top: 5px;
    left: 0;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkboxes li:last-child {
    margin-bottom: -8px;
}

.checkboxes input[type=checkbox]:checked + label:before {
    content: "\e938";
    font-family: 'LineIcons' !important;
    color: #4064d7;
    display: inline-block;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    text-align: center;
    line-height: 15px;
    text-align: center;
}

.checkboxes input[type=checkbox] {
    display: none;
}

.section-padding {
    padding: 60px 0;
}

/* Services Item */
.services {
    background: #fafafa;
}

.services-item {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .icon {
    float: left;
    padding-right: 15px;
}

.services-item .icon i {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: #4064d7;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .services-content {
    padding-left: 65px;
}

.services-item .services-content h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

.services-item .services-content h3 a {
    color: #272727;
}

.services-item .services-content h3 a:hover {
    color: #4064d7;
}

.services-item:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.services-item:hover .icon i {
    background: transparent;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.featured-bg {
    background: #fafafa;
}

.featured-bg .intro-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.featured-bg .title-sub {
    font-size: 22px;
    margin-bottom: 5px;
    line-height: 36px;
}

.featured-bg .intro-desc {
    margin-bottom: 20px;
}

.featured-bg .featured-item {
    margin-bottom: 20px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.featured-bg .featured-item .icon {
    float: left;
    padding-right: 15px;
}

.featured-bg .featured-item .icon i {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    color: #4064d7;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.featured-bg .featured-item h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
}

.featured-bg .featured-item h3 a {
    color: #272727;
}

.featured-bg .featured-item h3 a:hover {
    color: #4064d7;
}

/* Team Item */
.team-item {
    background: #fff;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.team-item .team-img {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.team-item .team-overlay {
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    width: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.team-item .overlay-social-icon {
    color: #fff;
    top: 45%;
    position: absolute;
    display: table-cell;
    margin: 0 auto;
    width: 100%;
}

.team-item .overlay-social-icon .social-icon-team {
    padding-left: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.team-item .overlay-social-icon .social-icon-team li {
    display: inline-block;
    margin: 0 2px;
}

.team-item .overlay-social-icon .social-icon-team li a {
    letter-spacing: 0px;
    outline: 0 !important;
}

.team-item .overlay-social-icon .social-icon-team li a i {
    font-size: 18px;
    color: #fff;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    display: block;
    border-radius: 50px;
    line-height: 35px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.team-item .overlay-social-icon .social-icon-team li a:hover .lni-facebook-filled {
    background: #3B5998;
}

.team-item .overlay-social-icon .social-icon-team li a:hover .lni-twitter-filled {
    background: #00aced;
}

.team-item .overlay-social-icon .social-icon-team li a:hover .lni-instagram-filled {
    background: #fb3958;
}

.team-item .overlay-social-icon .social-icon-team li a:hover .lni-whatsapp {
    background: #25D366;
}

.team-item .info-text {
    padding: 20px 20px;
    background: #f7f7f7;
}

.team-item .info-text h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.team-item .info-text h3 a {
    color: #272727;
}

.team-item .info-text h3 a:hover {
    color: #4064d7;
}

.team-item .info-text p {
    margin: 0;
    color: #888;
}

.team-item:hover {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.14);
    transform: translateY(-10px);
}

.team-item:hover .team-overlay {
    opacity: 1;
}

.team-item:hover .social-icon-team {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.client-info {
    margin: 20px 10px;
}

.client-info .img-thumb {
    float: left;
    overflow: hidden;
    position: relative;
    padding: 7px;
}

.client-info .img-thumb img {
    border: 3px solid transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.client-info .info-text {
    float: left;
    margin: 28px 20px;
}

.client-info .info-text h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.client-info .info-text h2 a {
    color: #272727;
}

.client-info .info-text h2 a:hover {
    color: #4064d7;
}

.client-info .info-text h4 {
    margin: 0;
    clear: both;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.client-info .info-text h4 a {
    color: #999;
}

.owl-pagination {
    position: relative;
    width: 100%;
    left: 0;
    bottom: -10px;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 2px 4px;
    filter: alpha(opacity=50);
    opacity: 1;
    border-radius: 30px;
    background: #fff;
    border: 2px solid #4064d7;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #4064d7;
}

/* Clents Logo Area */
#clients-logo {
    background: #fafafa;
}

#clients-logo .client-logo {
    display: inline-block;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

/* Blog Area */
.blog-item {
    background-color: #fff;
    display: block;
    max-width: 370px;
    margin: 0px auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.blog-item .blog-image {
    width: 100%;
    max-width: 370px;
    position: relative;
    overflow: hidden;
}

.blog-item .blog-image img {
    webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.blog-item .date {
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 17px;
    background-color: #4064d7;
    color: #fff;
    border-radius: 30px;
    margin: 0px auto;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
    width: 140px;
}

.blog-item .descr {
    padding: 15px 30px 30px;
    letter-spacing: .1px;
    line-height: 28px;
}

.blog-item .descr h3 {
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    position: relative;
}

.blog-item .descr h3:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 45px;
    left: 42%;
    bottom: -15px;
    background-color: #4064d7;
}

.blog-item .descr h3 a {
    margin-top: 37px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -.3px;
    font-size: 18px;
    color: #272727;
    webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.blog-item .descr h3 a:hover {
    color: #4064d7;
}

.blog-item .descr .text {
    margin-bottom: 30px;
    line-height: 22px;
}

.blog-item .blog-footer {
    background: #fff;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding: 14px 20px;
    margin: -7px 0;
}

.blog-item .blog-footer .prop-user a {
    color: #727272;
}

.blog-item .blog-footer .prop-user a:hover {
    color: #4064d7;
}

.blog-item .blog-footer span {
    margin-right: 10px;
}

.blog-item .blog-footer span i {
    margin-right: 5px;
}

.blog-item:hover {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.14);
    transform: translateY(-10px);
}

.counter-section {
    background: url(../images/bg.jpg);
    overflow: hidden;
    position: relative;
}

.counter-section:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.counter-section .counter {
    padding: 30px 0;
}

.counter-section .counter .icon {
    margin-bottom: 30px;
}

.counter-section .counter .icon i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    font-size: 36px;
    color: #4064d7;
}

.counter-section .counter p {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin: 30px 0;
}

.counter-section .counter .counterUp {
    color: #fff;
    font-size: 38px;
    margin-top: 15px;
    font-weight: 700;
}

#portfolio-section {
    position: relative;
}

#portfolio-section .portfolio-box {
    position: relative;
}

#portfolio-section .portfolio-box .overlay-box {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 25%;
    opacity: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#portfolio-section .portfolio-box .overlay-box a {
    color: #ffffff;
    font-size: 16px;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    background: #4064d7;
    border-radius: 50%;
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#portfolio-section .portfolio-box .overlay-box h3 {
    margin-top: 20px;
    color: #fff;
    font-size: 22px;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#portfolio-section .portfolio-box:hover .overlay-box {
    background: rgba(0, 0, 0, 0.85);
    transform: scale(1, 1);
    opacity: 1;
}

#portfolio-section .portfolio-box:hover .overlay-box h3 {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

#portfolio-section .portfolio-box:hover .overlay-box a {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
}

/* Clents Logo Area */
#clients-logo {
    background: #fafafa;
}

#clients-logo .client-logo {
    display: inline-block;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

/* Footer Area Start */
.footer-area {
    background: #272727;
}

.footer-area .footer-titel {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 10px;
    letter-spacing: 0.5px;
}

.footer-area .footer-titel span {
    color: #ccc;
    font-weight: 400;
}

.footer-area .footer-link li {
    margin-bottom: 10px;
}

.footer-area .footer-link li a {
    color: #888;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.footer-area .footer-link li a:before {
    background-color: white;
    content: "";
    height: 1px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    -webkit-transition: 0.15s all cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: 0.15s all cubic-bezier(0.39, 0.575, 0.565, 1);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    width: 100%;
}

.footer-area .footer-link li a:hover {
    color: #fff;
}

.footer-area .footer-link li a:hover:before {
    opacity: 1;
    -webkit-transform: translateY(-3px) translateZ(0);
    transform: translateY(-3px) translateZ(0);
}

.footer-area .address li {
    margin-bottom: 20px;
}

.footer-area .address li a {
    color: #888;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
}

.footer-area .address li a:hover {
    color: #fff;
}

.footer-area .address li a i {
    font-size: 22px;
    width: 32px;
    vertical-align: middle;
    height: 36px;
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: 5px;
    line-height: 32px;
}

.footer-area #subscribe-form {
    margin-top: 10px;
}

.footer-area #subscribe-form .form-group {
    position: relative;
}

.footer-area #subscribe-form .form-group .btn-common {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 15px;
    height: 52px;
    border-radius: 0;
    background: transparent;
    color: #4064d7;
}

#copyright {
    background: #333;
}

#copyright p {
    line-height: 42px;
    color: #fff;
    text-align: center;
    margin: 0;
}

#copyright p a {
    color: #fff;
}

#copyright p a:hover {
    color: #4064d7;
}

.social-icon a {
    color: #272727;
    background: #fff;
    width: 32px;
    height: 32px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    font-size: 16px;
    margin: 15px 6px 12px 4px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon a:hover {
    color: #fff !important;
}

.social-icon .facebook:hover {
    background: #3b5999;
}

.social-icon .twitter:hover {
    background: #4A9CEC;
}

.social-icon .instagram:hover {
    background: #D6274D;
}

.social-icon .linkedin:hover {
    background: #1260A2;
}

.social-icon .google:hover {
    background: #CE332A;
}

.counter-section {
    background: url(../images/bg.jpg);
    overflow: hidden;
    position: relative;
}

.counter-section:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.counter-section .counter {
    padding: 30px 0;
}

.counter-section .counter .icon {
    margin-bottom: 30px;
}

.counter-section .counter .icon i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    font-size: 36px;
    color: #4064d7;
}

.counter-section .counter p {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin: 30px 0;
}

.counter-section .counter .counterUp {
    color: #fff;
    font-size: 38px;
    margin-top: 15px;
    font-weight: 700;
}

.panel-default {
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
}

.panel-default .panel-heading {
    padding: 0px;
    outline: none;
    border: none;
    border-radius: 0px;
    width: 100%;
}

.panel-default .panel-heading .panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: inherit;
}

.panel-default .panel-heading a {
    padding: 12px 35px 12px 15px;
    display: inline-block;
    width: 100%;
    background-color: #4064d7;
    color: #ffffff;
    position: relative;
    text-decoration: none;
}

.panel-default .panel-heading a i {
    padding-right: 10px;
    font-size: 20px;
}

.panel-default .panel-heading a:after {
    font-family: 'LineIcons' !important;
    content: "\e9d6";
    position: absolute;
    right: 15px;
    font-size: 14px;
    font-weight: 300;
    top: 50%;
    line-height: 1;
    margin-top: -7px;
}

.panel-default .panel-heading .collapsed:after {
    content: "\e9bc";
}

.panel-default .panel-collapse .panel-body {
    padding: 30px;
    background-color: #f3f3f3;
}

.typography-wrap p {
    font-size: 14px;
    list-style: 24px;
    margin: 0 0 20px 0;
}

.typography-wrap h1 {
    font-size: 30px;
    list-style: 38px;
    margin: 0px 0 20px 0;
}

.typography-wrap h2 {
    font-size: 24px;
    list-style: 32px;
    margin: 0px 0 10px 0;
}

.typography-wrap h3 {
    font-size: 20px;
    line-height: 28px;
}

.typography-wrap h4 {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 24px 0;
}

.typography-wrap h5 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px 0;
}

.typography-wrap h6 {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 24px 0;
}

.typography-wrap .disc-list li,
.typography-wrap .small-arrow-list li {
    line-height: 27px;
    color: #999;
}

.typography-wrap .disc-list li i,
.typography-wrap .small-arrow-list li i {
    margin-right: 10px;
}

.typography-wrap .buttons a {
    margin-right: 10px;
}

select {
    border: 0;
    border-radius: 0;
    font-size: 14px;
    width: 100%;
    line-height: 30px;
    padding: 0 15px;
    color: #727272;
    background: #ffffff;
    z-index: 1;
    width: 100%;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    min-height: 45px;
    box-shadow: none;
    border: 1px solid #f3f3f3;
    background: #fff;
    border-radius: 30px;
    width: 100% !important;
    cursor: pointer;
}

select:focus {
    outline: none;
    box-shadow: none;
}

.form-group i {
    position: absolute;
    top: 50px;
    right: 30px;
    color: #272727;
    z-index: 999;
}

.form-check-input {
    margin-top: 7px;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.btn-common {
    background-color: #4064d7;
    position: relative;
    z-index: 1;
    color: #fff;
}

/* Property Price Index */
#propertyPriceIndex{
    height: auto;
    overflow:scroll;
    display: block;
    padding: 20px;
    background-color: whitesmoke;
}